{
  "$$schema": "https://json.schemastore.org/package",
  "name": "@warpack/${node_pkg}",
  "description": "A build system for Warcraft III maps.",
  "keywords": [
    "warcraft",
    "warpack",
    "warscript"
  ],
  "license": "MIT",
  "author": "rhazarian",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/rhazarian/warpack.git"
  },
  "scripts": {},
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ],
  "publishConfig": {
    "access": "public",
    "registry": "https://registry.npmjs.org/"
  }
}
